.banner {
  background-color: $background-color-banner;
  color: $text-color-secondary;
  min-width: 250px;
  margin: 0 auto;
  padding: 40px 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  display: grid;
  grid-template-columns: 65% 30%;
  grid-template-rows: auto auto auto;
  column-gap: 37px;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    margin: 0;
    min-width: 220px;
    width: 40%;
    min-height: 267px;
    font-size: 18px;
    line-height: 24px;
    grid-template-columns: 65% 30%;
    column-gap: 20px;
    row-gap: 9px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    padding: 60px 70px 98px;
    grid-template-columns: 175px 95px;
    column-gap: 77px;
    row-gap: 30px;
  }
}

.banner__title {
  font-size: 40px;
  line-height: 54px;
  text-align: left;

  @media (min-width: $desktop-width) {
    font-size: 65px;
    line-height: 96px;
  }
}

.banner__description {
  width: 171px;
  margin: 0;
  margin-bottom: 2px;
  grid-column: 1/-1;
  grid-row: 2/3;

  @media (min-width: $tablet-width) {
    width: 200px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.banner__button {
  text-decoration: none;
  grid-column: 1/-1;
  grid-row: 3/4;
  width: 90%;

  @media (min-width: $tablet-width) {
    min-height: 66px;
  }
}

.banner__time {
  width: 56px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (min-width: $tablet-width) {
    width: 70px;
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 95px;
    gap: 20px;
  }
}

.banner__text {
  margin: 0;
  margin-bottom: 6px;
  position: relative;
  font-size: 16px;

  &::after {
    position: absolute;
    content: "";
    width: 56px;
    height: 1px;
    background-color: $background-color-primary;
    left: 0;
    bottom: -4px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;

    &::after {
      width: 70px;
      bottom: -2px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;

    &::after {
      width: 95px;
      bottom: -6px;
    }
  }
}

.banner__date-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;

  @media (min-width: $tablet-width) {
    gap: 6px;
  }
}

.banner__number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.banner__date {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
    width: 56px;
  }
}
