.banner {
  background-color: $background-color-banner;
  color: $text-color-secondary;
  width: 210px;
  padding: 40px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  display: grid;
  grid-template-columns: 117px 56px;
  grid-template-rows: auto auto auto;
  column-gap: 37px;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    width: 220px;
    font-size: 18px;
    line-height: 24px;
    grid-template-columns: 100px 100px;
    column-gap: 20px;
    row-gap: 9px;
  }

  @media (min-width: $desktop-width) {
    width: 340px;
    padding: 60px 80px 98px;
    grid-template-columns: 168px 95px;
    column-gap: 77px;
    row-gap: 30px;
  }
}

.banner__title {
  font-size: 48px;
  line-height: 54px;
  text-align: left;

  @media (min-width: $desktop-width) {
    font-size: 82px;
    line-height: 96px;
  }
}

.banner__description {
  width: 171px;
  margin: 0;
  grid-column: 1/-1;
  grid-row: 2/3;

  @media (min-width: $tablet-width) {
    width: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.banner__button {
  text-decoration: none;
  grid-column: 1/-1;
  grid-row: 3/4;

  @media (min-width: $tablet-width) {
    min-height: 66px;
  }
}

.banner__time {
  width: 56px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (min-width: $tablet-width) {
    width: 100px;
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 95px;
    gap: 20px;
  }
}

.banner__text {
  margin: 0;
  margin-bottom: 5px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 56px;
    height: 1px;
    background-color: $background-color-primary;
    left: 0;
    bottom: -3px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;

    &::after {
      width: 100px;
      bottom: -2px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;

    &::after {
      width: 95px;
      bottom: -6px;
    }
  }
}

.banner__date-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.banner__number {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.banner__date {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
    width: 56px;
  }
}
