.card {
  min-width: 206px;
  width: 80%;
  margin: 0 auto;
  padding: 43px 35px;
  background-color: $background-color-primary;
  text-align: center;
  border: 7px solid $background-color-primary;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 250px;
    padding: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }

  &:has(.card__button:hover, .card__button:focus) {
    border-width: 7px;
    border-style: solid;
    border-image: $card-gradient 1 1;
  }
}

.card__title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 17px;
  }
}

.card__time {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 66px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}

.card__price {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  color: $text-color-highlight;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 18px;
  padding-right: 34px;
  position: relative;
  z-index: 0;

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 33px;
    top: 50%;
    margin-top: -16px;
    right: 0;
    background-image: url("/__spritemap#sprite-rubble-view");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 90px;
    padding-right: 44px;
    margin-bottom: 22px;

    &::after {
      width: 30px;
      height: 42px;
      margin-top: -21px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }

  span {
    font-size: 80px;
    line-height: 120px;
    color: #e8e8e8;
    opacity: 0.48;
    position: absolute;
    bottom: 0;
    left: -15px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      font-size: 100px;
      line-height: 150px;
      left: -20px;
    }
  }
}

.card__button {
  width: 100%;
  min-height: 66px;
  color: $text-color-primary;
  border: 2px solid $button-dark;

  &:hover {
    color: $text-color-secondary;
    background: $button-gradient;
    border: none;
  }

  &:focus {
    color: $text-color-secondary;
    background: linear-gradient(97deg, rgba(237, 2, 51, 0.8) 17.6%, rgba(0, 62, 183, 0.8) 95.31%);
    border: 2px solid #000000;
  }

  &:active {
    color: rgba(256, 256, 256, 0.7);
    background: $button-gradient;
    border: none;
  }
}

.card__button[aria-disabled="true"] {
  cursor: auto;
  color: $text-color-primary;
  letter-spacing: 0.05em;
  background: $button-light;
  border: 2px solid $button-dark;
  opacity: 0.3;
}
