.filter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-between;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.filter__item {
  min-height: 24px;
}

.filter__button {
  font-size: 16px;
  line-height: 16px;
  color: $text-color-primary;
  padding: 0;
  background-color: inherit;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  position: relative;

  &::after {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $button-tab;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
    min-height: 28px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    min-height: 33px;
  }
}

.filter__item .filter__button {
  &:hover {
    opacity: 0.7;

    &::after {
      content: "";
      background-color: #787878;
    }
  }

  &:focus {
    opacity: 1;

    &::after {
      content: "";
      background-color: $button-dark;
    }
  }

  &:active {
    &::after {
      content: "";
      background-color: $button-tab;
    }
  }

  &:disabled {
    cursor: auto;
    opacity: 0.3;

    &::after {
      content: "";
      background-color: $button-dark;
      opacity: 0.3;
    }
  }
}

.filter__item--active .filter__button {
  opacity: 1;
  cursor: auto;

  &::after {
    content: "";
  }

  @media (min-width: $tablet-width) {
    &::after {
      bottom: -3px;
    }
  }
}
