.games {
  width: 290px;
  padding: 25px 15px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 678px;
    padding: 60px 45px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
    padding: 100px 103px;
  }
}


.games__image {
  width: 290px;
  height: 290px;

  @media (min-width: $tablet-width) {
    width: 378px;
    height: 348px;
  }

  @media (min-width: $desktop-width) {
    width: 660px;
    height: 500px;
  }
}
