.juri {
  width: 260px;
  padding: 40px 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 678px;
    padding: 30px 45px 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1270px;
    padding: 100px 48px;
  }
}

.juri__title {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }
}

.juri__slider-wrapper {
  position: relative;
}

.juri__button {
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: inherit;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;

  &::after {
    position: absolute;
    width: 16px;
    height: 32px;
    top: 50%;
    margin-top: -16px;
    left: 50%;
    margin-left: -8px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 32px;
    background-color: $button-dark;
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
    }

    &:hover {
      border: 1px solid $button-dark;
    }

    &:focus {
      border: 1px solid $button-dark;
      background-color: #e8e8e8;
    }

    &:active {
      background-color: $button-dark;

      &::after {
        background-color: $button-light;
      }
    }

    &:disabled {
      border: none;
      background-color: inherit;
      opacity: 0.3;
    }
  }

  &--prev {
    left: 0;
    transform: rotate(180deg);
  }

  &--next {
    right: 0;
  }
}
