.juri {
  width: 260px;
  padding: 41px 30px 40px;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 678px;
    padding: 30px 45px 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1270px;
    padding: 100px 48px;
  }
}

.juri__title {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 46px;
  }
}

.juri__slider-wrapper {
  position: relative;
}
