.link {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: $additional-color;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  width: fit-content;
  margin: 0;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $border-color;
    left: 0;
    bottom: -5px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 1;

    &::after {
      width: 100%;
      height: 100%;
      padding: 10px;
      background-color: transparent;
      border: 1px solid $additional-color;
      left: -10px;
      bottom: -10px;
    }
  }

  &:active {
    &::after {
      width: 100%;
      height: 1px;
      padding: 0;
      border: none;
      background-color: $border-color;
      left: 0;
      bottom: -5px;
    }
  }

  &--light {
    color: $text-color-secondary;

    &::after {
      background-color: $background-color-primary;
    }

    &:focus {
      &::after {
        border: 1px solid $background-color-primary;
      }
    }
  }
}
