.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 105px;
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 95px;
    gap: 10px;
  }
}

.social-list__item {
  width: 25px;
  height: 25px;
  position: relative;
}

.social-list__link {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $background-color-primary;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $background-color-footer;
  }

  &:hover {
    background-color: $border-color;

    &::after {
      background-color: $background-color-primary;
    }
  }

  &:focus {
    outline: none;
    background-color: #103aae;

    &::after {
      background-color: $background-color-primary;
    }
  }

  &:active {
    background-color: $background-color-dark;

    &::after {
      background-color: $background-color-primary;
    }
  }

  &--vkontakte::after {
    mask-image: url("/__spritemap#sprite-vk-view");
    mask-size: 12px 13px;
  }

  &--ok::after {
    mask-image: url("/__spritemap#sprite-ok-view");
    mask-size: 15px 19px;
  }

  &--reddit::after {
    mask-image: url("/__spritemap#sprite-reddit-view");
    mask-size: 15px 15px;
  }
}

.social-list__link[aria-disabled="true"] {
  background-color: $background-color-primary;
  opacity: 0.3;

  &::after {
    background-color: $background-color-footer;
  }
}
