
.video {
  position: relative;
  width: 320px;
  height: 170px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 270px;
    left: 50%;
    margin-left: -135px;
    bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 230px;
    margin-left: -180px;
    bottom: 125px;
  }
}

.video__button {
  display: block;
  position: absolute;
  width: 52px;
  height: 52px;
  top: 50%;
  left: 50%;
  margin-top: -26px;
  margin-left: -26px;
  background: $button-gradient;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -6px;
    mask-image: url("/__spritemap#sprite-play-view");
    mask-repeat: no-repeat;
    background-color: $button-light;
  }

  &::before {
    position: absolute;
    content: "";
    width: 68px;
    height: 68px;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -36px;
    border: 2px solid #ed0233;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.2;
  }

  @media (min-width: $desktop-width) {
    width: 72px;
    height: 72px;
    margin-top: -36px;
    margin-left: -36px;

    &::after {
      width: 22px;
      height: 22px;
      margin-top: -11px;
      margin-left: -9px;
    }

    &::before {
      width: 100px;
      height: 100px;
      margin-top: -50px;
      margin-left: -50px;
    }
  }

  &:hover {
    background: $button-light;

    &::after {
      background-color: $button-dark;
      opacity: 0.6;
    }

    &::before {
      border: 2px solid $button-dark;
      opacity: 0.6;
    }
  }

  &:focus {
    background: #c8c9cc;

    &::after {
      background-color: $button-dark;
      opacity: 1;
    }

    &::before {
      border: 2px solid $button-dark;
      opacity: 1;
    }
  }

  &:active {
    background: $button-light;
    width: 42px;
    height: 42px;
    margin-top: -21px;
    margin-left: -21px;

    &::after {
      background-color: $button-dark;
      opacity: 1;
    }

    &::before {
      border: 2px solid $button-dark;
      opacity: 1;
    }

    @media (min-width: $desktop-width) {
      width: 58px;
      height: 58px;
      margin-top: -29px;
      margin-left: -29px;
    }
  }

  &:disabled {
    background: $button-light;
    opacity: 0.4;
    width: 52px;
    height: 52px;
    margin-top: -26px;
    margin-left: -26px;
    cursor: auto;

    &::after {
      background-color: $button-dark;
      opacity: 1;
    }

    &::before {
      border: 2px solid $button-dark;
      opacity: 1;
    }

    @media (min-width: $desktop-width) {
      width: 72px;
      height: 72px;
      margin-top: -36px;
      margin-left: -36px;
    }
  }
}
