$text-color-primary: #102654;
$text-color-secondary: #ffffff;
$text-color-highlight: #103AAE;
$text-color-gradient: linear-gradient(127.61deg, #D10A42 0%, #0041CA 45.58%);
$background-color-primary: #ffffff;
$background-color-secondary: #f8f9fc;
$background-color-banner: #ed0233;
$background-color-dark: #102654;
