$text-color-primary: #102654;
$text-color-secondary: #ffffff;
$text-color-highlight: #103aae;
$text-color-gradient: linear-gradient(128deg, #d10a42 0%, #0041ca 46%);
$background-color-primary: #ffffff;
$background-color-secondary: #f8f9fc;
$background-color-banner: #ed0233;
$background-color-dark: #102654;
$additional-color: #1c3374;
$button-light: #ffffff;
$button-dark: #102654;
$button-gradient: linear-gradient(149deg, #d10a42, #00359f);
$button-tab: #d10a42;
$error: #ff121f;
